$my-white: #f8f9fa;
$my-dark: #212529;
$my-yellow: #ffed4a;
$my-red: #e3342f;

body{
    background-color: #212529!important;
}
.header-link{
    text-decoration: none!important;
    color: $my-dark;
}

.nav-item{
    font-size: medium;
    font-weight: bolder!important;
}

.btn{
    color: $my-white;
}

.link{
    text-decoration: none!important;
    color: $my-dark;
}

.skill-svg{
    width: 3rem;
}

.skill-svg-big{
    width: 4rem;
}