$my-white: #f8f9fa;
$my-dark: #212529;
$my-yellow: #ffed4a;
$my-gold: #F9A826;
$my-darker-gold: #EA960F;
$my-red: #e3342f;

body{
    background-color: $my-dark!important;
}
.header-link{
    text-decoration: none!important;
    color: $my-dark;
    transition: .3s linear;
}

.header-link:hover{
    color: $my-gold !important;;
}

.nav-item{
    font-size: medium;
    font-weight: bolder!important;
}

.btn{
    color: $my-white;
}

.link{
    text-decoration: none!important;
    color: $my-dark;
    transition: .3s linear;
}

.link:hover{
    color:$my-gold;
}

.light-link{
    text-decoration: none!important;
    color: $my-white;
    transition: .3s linear;
}

.light-link:hover{
    color:$my-gold;
}

.skill-svg{
    width: 3rem;
}

.skill-svg-big{
    width: 4rem;
}

.bottom-container{
    clip-path: polygon(0 0, 51% 0, 43% 31%, 83% 0, 100% 0, 100% 100%, 0 100%);
}

.full-page{
    min-height: 100vh;
}

.font-lobster{
    font-family: 'Lobster', cursive;
}

.expand-row{
    height: 30%;
}

.long-btn{
    width: 20rem;
}

.footer-link{
    color: $my-dark!important;
    text-decoration: none;
    transition: .3s linear;
}

.footer-link:hover{
    color: $my-gold !important;;
}

.bg-gold{
    background-color: $my-gold!important;
    color: $my-white!important;
}

.text-gold{
    color: $my-gold!important;
}

.btn-gold{
    background-color: $my-gold!important;
    color: $my-white!important;
    border-color: $my-gold!important;
}

.btn-gold:hover{
    background-color: $my-darker-gold!important;
}

.btn-gold:focus{
    box-shadow: 0 0 0 0.25rem rgb(234 150 15/25%)!important;
}

.void{
    min-height: 20vh;
}

.page-img{
    margin: 0 auto;
    width: 15rem;
}